

<div class="row">
  <div class="col-sm-6">

    <p>{{#link-to 'hocStory'}}<img class="img-responsive" src="assets/hoc.png">{{/link-to}}</p>
    <h4>Catching Up On 2 Seasons Of ‘House Of Cards’ Depressingly Manageable</h4>
  </div>
  <div class="col-sm-6">
    <p>{{#link-to 'bballStory'}}<img class="img-responsive" src="assets/bball.png">{{/link-to}}</p>
    <h4>76ers Afraid To Kick Bunch Of Tough-Looking Guys Off Practice Court</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>{{#link-to 'boehnerStory'}}<img class="img-responsive" src="assets/boehner.png">{{/link-to}}</p>
    <h4>John Boehner Calls For National Guard To Deal With Illegal Immigrants Hiding In Mexico</h4>
  </div>
  <div class="col-sm-6">
    <p>{{#link-to 'oilStory'}}<img class="img-responsive" src="assets/oil.png">{{/link-to}}</p>
    <h4>Lucrative New Oil Extraction Method Involves Drilling Directly Into Gas Stations</h4>
  </div>
</div>


{{#if imageOneShowing}}
  <button class="btn btn-primary" {{action 'showImageFour'}}>Prev</button>
  <button class="btn btn-primary" {{action 'showImageTwo'}}>Next</button>
  <img class="img-responsive" src="assets/hoc.png">
{{/if}}
{{#if imageTwoShowing}}
  <button class="btn btn-primary" {{action 'showImageOne'}}>Prev</button>
  <button class="btn btn-primary" {{action 'showImageThree'}}>Next</button>
  <img class="img-responsive" src="assets/bball.png">
{{/if}}
{{#if imageThreeShowing}}
<button class="btn btn-primary" {{action 'showImageTwo'}}>Prev</button>
<button class="btn btn-primary" {{action 'showImageFour'}}>Next</button>
  <img class="img-responsive" src="assets/boehner.png">
{{/if}}
{{#if imageFourShowing}}
<button class="btn btn-primary" {{action 'showImageThree'}}>Prev</button>
<button class="btn btn-primary" {{action 'showImageOne'}}>Next</button>
  <img class="img-responsive" src="assets/oil.png">
{{/if}}
